.ant-table-wrapper{
    margin-top: 13px !important;
}

.criclebox .ant-card-body{
    min-height: 85px !important;
    padding: 16px !important;
}

.criclebox .ant-table-tbody > tr > td, .ant-table-thead > tr > th {
    white-space: break-spaces;
}