.detailProduct{
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.itemLeft{
    /* background-color: blue; */
    
}
.itemRight{
    /* background-color: red; */
    width: 800px;
    margin-left: 50px;
}